
.cardContainer {
    z-index: 10;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);

    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer div{
    overflow-y: auto;
    max-height: 100vh;
}

.cardContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.cardContainer form label {
    margin: 10px 0;
}

.cardContainer form input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

.cardContainer form button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    cursor: pointer;
}

