#root {
  text-align: center;
  overflow-x: hidden;
}
.card {
  padding: 1em;
}

#root>div {
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}